body {
    background-color: white;
}

nav {
    border:2px solid rgb(49, 132, 110);
    color:bisque;
    border-radius: 3px 20px 40px;
    font-style: oblique;
}

li {

}

#skip{
    position: absolute;
    left: -500px;
}